@import '../../style/vars';

.note-item {
  div {
    display: inline;
    width: 80%;
    text-align: left;
  }
  button {
    display: inline;
    font-style: italic;
    background: $color-scheme-1;
    color: $white;
    border: 1px solid $color-scheme-1;
    padding: 5px 10px;
    float: right;
    font-size: 8px;
  }
  button:hover {
    border: 1px solid $dark-background;
  }
}