@import 'vars';

body {
  background-color: $background-color;
  font-family: sans-serif;
  color: $font-color;
}

li {
  display: inline;
  border-radius: 10;
}

a {
  color: $font-color;
}

a:hover {
  text-decoration: none;
}

.error {
  color: $error;
}