@import 'vars';

body {
  background: $background-color;
  font-family:'Cookie',cursive;
  font-size:12pt;
  color: $font-color;
}

a {
  color: $font-color;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

.error {
  color: $error;
}

