//--------------------------------------------------------------------------------------
// COLORS
//--------------------------------------------------------------------------------------
$background-color: rgb(197, 13, 188);
$font-color: rgb(13, 169, 197);

$modal-color: rgba(0, 0, 0, 0.4);
$modal-background: rgb(197, 13, 188);
$error: #ff0000;

//--------------------------------------------------------------------------------------
// SIZE
//--------------------------------------------------------------------------------------
