$background-color: #000000;
$font-color: #FFFFFF;
$error: #ff0000;

.app h1 {
  background-color: #e63c3c;
  width:20%;
  display: inline-block;
  margin-left: 3%;
  color: white;
  padding-left: 2%;
}
.app header {
  background-color:rgb(49, 48, 48);
}
.app nav {
  width:60%;
  display:inline-block;
  align-content: center;
  padding-left: 1%;
}
.app a, li{
  color:white;
  font-size: 23px;
  display: inline-block;
  padding-right: 15%;
  padding-left:15%;
  padding-top: 3%;
  padding-bottom: 3%;
  text-decoration: none;
}
.landing {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
}
.landing h1 {
  width: 50%;
}
.app {
  background-color: rgb(230, 222, 205);
  height: 100%;
  padding-bottom:5%;
}
.noteForm {
  margin-top:5%;
  display: inline-block;
  margin-left: 5%;
}
.noteForm input {
  height:75px;
  width: 500px;
  font-size: 28px;
  text-align: center;
  background-color: #fbfec4;
}
.noteForm button {
  width:200px;
  height:50px;
  margin-top: 3%;
  display: inline-block;
  margin-left:10px;
  font-size: 22px;
}
.noteList p {
  margin-top: 5%;
  text-align: center;
  font-size: 35px;
}
.noteItem article {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  color:white;
  text-overflow: ellipsis;
  overflow: hidden;
}
.noteItem button {
  margin-right:0px;
}
.noteItem {
  background-color: #e63c3c;
  padding:0px;
  text-align: center;
  margin-left: 25%;
  width:50%;
}

