$background-color: #fff1AA;
$nav-background-color: #fff1AA;
$font-color: #33FF;
$error: #ff0000;

html, body {
  background: $background-color;
}

p, h1, h2, ul {
  color: $font-color;
}

.error {
  color: $error;
}

nav li {
}

nav ul {
  list-style: none;
  background-color: $nav-background-color;
  text-align: center;
  padding: 0;
  margin: 0;
}

