$modal-color: rgba(0,0,0,0.4);
$modal-background: #fff;

$error: #ff0000;

$color-scheme-1: #00a3ad;
$color-scheme-2: #cc3f03;
$dark-background: #c5b9b5;
$light-background: #f2f2f4;
$white: #fff;

$serif-font: "Georgia", serif;
$sans-serif-font: Helvetica, sans-serif;
$border-radius: 20px;