//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$background-color: rgb(67, 211, 9);
$font-color: rgba(0,0,0,0.8);

$model-color: rgba(0,0,0,0.4);
$model-background: #FFF;
$error: #ff0000;

//--------------------------------------------------------------
// SIZE
//--------------------------------------------------------------
