.app {
  background-color: white;
  height: 100%;
  padding-bottom:5%;

  h1 {
    background-color: #e63c3c;
    display: inline-block;
    margin-left: 3%;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px;
    a{
      color: white;
      width:100%;
      list-style-type: none;
      text-decoration-style: none;
      text-decoration: none;
    }
  }
  header {
    background-color:rgb(49, 48, 48);
  }
  nav {
    width:60%;
    display:inline-block;
    align-content: center;
    padding-left: 1%;
    text-decoration: none;
  }
  .nav{
    color:white;
    font-size: 23px;
    display: inline-block;
    padding-left:15%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-decoration-style: none;
    text-decoration: none;
    list-style-type: none;
    margin-left:15%;
  }
  ul li{
    margin-left:10%;
    margin-right:5%;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
  }
  img {
    float:left;
    margin-left: 2%;
    margin-top: 2%;
    width:50px;
  }
}